@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

* {
	font-size: 30px;
	line-height: 0px;
}

body {
	background-color: #202124;
	color: #e8eaed;
	text-align: center;
	display: flex;
	margin: 0;
  padding: 0;
	height: 100vh;
	justify-content: center;
  align-items: center;
	font-family: 'Train One', cursive;
}

.lengths {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#session-label {
	width: 280px;
}

#break-label {
	width: 280px;
}

#session-increment {
	margin-right: 80px;
}

#break-decrement {
	margin-left: 80px;
}

button {
	background: none;
	outline: none;
	border: none;
	color: white;
	cursor: pointer;
}

#time-left {
	font-size: 100px;
}

#timer-label {
	margin-top: 50px;
}